<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper" style="background-color:#ffffff">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse" style="background-color:#ffffff;margin-bottom:0px;">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="login_details">
            <img alt="" class="img-circle img-thumbnail" src="img/avatar9_big.png" />
            <p>{{display_name}}</p>
        </div>
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li ng-class="{'active': $state.includes('app.dashboard')}" ng-if="isSuperAdmin==false">
                <a ui-sref="app.dashboard" class="nav-link">
                    <i class="fa fa-tachometer"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li ng-class="{'active': $state.includes('app.calendar')}"  ng-if="user_role=='employee'" >
                <a ui-sref="app.calendar" class="nav-link">
                    <i class="fa fa-calendar"></i>
                    <span class="title">Travel Calender</span>
                </a>
            </li>
        
<!--
            <li ng-class="{'active': $state.includes('app.fares')}" ng-if="user_role=='vendor'" >
                <a ui-sref="app.fares" class="nav-link">
                    <i class="fa fa-money"></i>
                    <span class="title">Fares</span>
                </a>
            </li>
-->
            <li class="nav-item" ng-class="{'active': $state.includes('app.expenses')}" ng-if="user_role=='hod' || user_role=='employee'">
                <a ui-sref="app.expenses" class="nav-link nav-toggle">
                    <i class="fa fa-money"></i>
                    <span class="title">Expenses</span>
                    <span class="arrow"></span>
                </a>
                <!--
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="ui_colors.html" class="nav-link ">
                            <span class="title">Expense 1</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="ui_general.html" class="nav-link ">
                            <span class="title">Expense 2</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="ui_buttons.html" class="nav-link ">
                            <span class="title">Expense 3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="ui_confirmations.html" class="nav-link ">
                            <span class="title">Expense 4</span>
                        </a>
                    </li>

                </ul>
-->
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link nav-toggle">
                    <i class="fa fa-plane"></i>
                    <span class="title">Trips</span>
                    <span class="arrow"></span>
                </a>
            </li>
-->
            <li ng-class="{'active': $state.includes('app.travel-requests')}" ng-if="user_role=='employee' || user_role=='hod' ">
                <a ui-sref="app.travel-requests" class="nav-link">
                    <i class="fa fa-envelope"></i>
                    <span class="title">My Requests</span>
                </a>
            </li>
            <li ng-class="{'active': $state.includes('app.travel-requests')}" ng-if="user_role=='accounts'">
                <a ui-sref="app.travel-requests" class="nav-link">
                    <i class="fa fa-envelope"></i>
                    <span class="title">Vouchers</span>
                </a>
            </li>
            <li ng-class="{'active': $state.includes('app.payments')}" ng-if="user_role=='accounts' || user_role=='employee'">
                <a ui-sref="app.payments" class="nav-link">
                    <i class="fa fa-money"></i>
                    <span class="title">Payments</span>
                </a>
            </li>
            
            <li ng-class="{'active': $state.includes('app.settings')}" ng-if="user_role=='admin' || user_role=='superadmin'">
                <a ui-sref="app.settings" class="nav-link">
                    <i class="fa fa-cog"></i>
                    <span class="title">Settings</span>
                </a>
            </li>

            <li ng-class="{'active': $state.includes('app.bookedtickets')}" ng-if="user_role=='admin' || user_role=='superadmin'">
                <a ui-sref="app.bookedtickets" class="nav-link">
                    <i class="fa fa-money"></i>
                    <span class="title">Orders</span>
                </a>
            </li>


            <li ng-class="{'active': $state.includes('app.expenses-report')}" ng-if="user_role=='admin' || user_role=='superadmin'">
                <a ui-sref="app.expenses-report" class="nav-link">
                    <i class="far fa-bell"></i>
                    <span class="title">Push Notifications</span>
                </a>
            </li>
          
            <!-- <li ng-class="{'active': $state.includes('app.dashboard')}" ng-if="user_role=='admin' || user_role=='superadmin'"
            >

                <a ui-sref="app.dashboard" class="nav-link">
                    <i class="far fa-bell"></i>
                    <span class="title">Push Notifications</span>
                </a>
            </li> -->
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
