<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1> Dashboard</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->

        <div class="row space">

            <div class="col-md-12 space">
                <div class="row space">

                    <!-- Total Expense Requests -->
                    <div class="col-md-6 column_vertical_space">
                        <div  class="portlet light bordered">
                            <h4 class="vd_box_heading">Total Expense Requests</h4>
                            <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i><span class="sr-only" ng-if="processing">Loading...</span>
                            <div class="row" ng-if="!processing && ispercentdata">
                                <div class="col-md-6">
                                    <div class="vd_information">
                                        <div class="vd_small_box vd_green"></div> <span class="vd_green_text"> Travel</span> <span class="vd_grey_text">{{percentages[1].travel | number:0}}%</span>
                                    </div>

                                    <div class="vd_information">
                                        <div class="vd_small_box vd_pink"></div> <span class="vd_pink_text"> Food</span> <span class="vd_grey_text">{{percentages[0].food | number:0}}%</span>
                                    </div>

                                    <div class="vd_information">
                                        <div class="vd_small_box vd_red"></div> <span class="vd_red_text"> Others</span> <span class="vd_grey_text">{{percentages[2].other | number:0}}%</span>
                                    </div>

                                </div>
                                <!--end of col-md-6-->
                                <section style="width:200px;height:260px;margin-top: -80px;">
                                    <div donut-chart donut-data='percentages_options_expenses' donut-label-color='none' donut-background-color='none' donut-colors='["#10C469", "#FAA6D6", "#EF5350"]' donut-formatter='percent_format'></div>
                                </section>
                                <!--end of col-md-6-->
                            </div>
                             <div ng-if="ispercentdata==false" > No Expenses added yet</div>
                            <!--end of row-->
                        </div>
                        
                        <!--end of portlet light bordered-->
                    </div>
                        <!--end of portlet light bordered-->
                    
                    <!--end of col-md-6-->

                    <!-- Approved / Pending Travel Requests -->
                    <div class="col-md-6 column_vertical_space">
                        <div class="portlet light bordered  rounded_border">
                            <h4 class="vd_box_heading">Approved / Pending Travel Requests</h4>
                            <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i><span class="sr-only" ng-if="processing">Loading...</span>
                            <div  class="row" ng-if="!processing && displaytrip">
                                <div class="col-md-6">
                                    <div class="vd_information">
                                        <div class="vd_small_box vd_green"></div> <span class="vd_green_text"> Approved</span> <span class="vd_grey_text">{{approved_trips_percentage}}%</span>
                                    </div>
                                    <div class="vd_information">
                                        <div class="vd_small_box vd_red"></div> <span class="vd_red_text"> Pending</span> <span class="vd_grey_text">{{pending_trips_percentage}}%</span>
                                    </div>

                                </div>
                                <!--end of col-md-6-->
                                <div class="col-md-6">
                                    <section style="width:200px;height:260px;margin-top: -80px;">
                                        <div donut-chart donut-data='percentages_options_trips' donut-label-color='none' donut-background-color='none' donut-colors='["#EF5350","#10C469"]' donut-formatter='percent_format'></div>
                                    </section>
                                </div>
                                <!--end of col-md-6-->
                            </div>
                            <div ng-if="!displaytrip">
                                No Relevant Data
                            </div>
                            
                            <!--end of row-->
                        </div>
                        <!--end of portlet light bordered-->
                    </div>
                    <!--end of col-md-6-->

                </div>
                <!--end of row-->
            </div>
            <!--end of col-md-12-->
        </div>

            <!-- Travel Requests -->
            <div class="col-md-12 column_vertical_space">

                <div class="portlet light">

                    <div class="portlet-title ">
                        <div class="caption">
                            <span class="caption-subject red_text bold uppercase">Travel Requests</span>
                        </div>
                    </div>
                    <!--end of portlet-title-->

                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal" id="form_sample_1">
                            <div class="form-body">

                                <div class="row space ">

                                    <div class="col-md-4 col-sm-3"></div>
                                    <!--end of col-md-3-->

                                    <div class="col-md-3 col-sm-3"></div>
                                    <!--end of col-md-3-->

                                    <!-- Export Options -->
                                    <div class="col-md-5 col-sm-6 ">
                                        <div class="option_icon">
                                            <div class="form-group">
                                                <a href="#" class="green_btn" title="Copy" clipboard supported="supported" text="trips_to_copy" on-copied="copy_success()"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a href="#" class="green_btn" title="CSV" ng-click="download_csv_trips(response.trips)"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                                <a href="#" class="green_btn" title="Excel" ng-click="download_xls_trips(response.trips)"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                                <a href="#" class="green_btn" title="Pdf" ng-click="download_pdf_trips(response.trips)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                                <a href="#" class="green_btn" title="Print" id="print_screen_travel_requests"><i class="fa fa-print" aria-hidden="true"></i></a>
                                            </div>
                                            <!--end of form-group-->
                                        </div>
                                        <!--end of pull-right-->
                                    </div>
                                    <!--end of col-md-6-->

                                </div>
                                <!--end of row-->

                                <!-- Table -->
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptionsTravelRequests" dt-column-defs="dtColumnDefsTravelRequests" class="table" id="travel-requests-table">
                                        <thead>
                                            <tr>
                                                <th class="table_heading">Sr. No.</th>
                                                <th class="table_heading">Trip Id</th>
                                                <th class="table_heading">Request On</th>
                                                <th class="table_heading">Purpose</th>
                                                <th class="table_heading">Requested By</th>
                                                <th class="table_heading">End Date</th>
                                                <th class="table_heading">From City</th>
                                                <th class="table_heading">To City</th>
                                                <th class="table_heading">Travel Mode Type</th>
                                                <th class="table_heading">Travel Notes</th>
                                                
                                                <th class="table_heading">Status</th>
                                                <th class="table_heading_center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key,trip) in trips_array | orderBy:'-createdTime'">
                                                <td class="table_text">{{key+1}}.</td>
                                                <td class="table_text">{{trip.trpId}}</td>
                                                <td class="table_text">{{trip.createdTime | date:"dd/MM/yyyy"}}</td>
                                                <td class="table_text">{{trip.travelPurpose}} Trip</td>
                                                <td class="table_text">{{trip.requestedBy}}</td>
                                                <td class="table_text">{{trip.tripEndDate | date:"dd/MM/yyyy EEE"}}</td>
                                                <td class="table_text">{{trip.fromCity}}</td>
                                                <td class="table_text">{{trip.toCity}}</td>
                                                <td class="table_text">{{trip.travelClass}} - {{trip.travelModeName}}</td>
                                                  <td class="table_text">{{trip.travelNotes}}</td>
                                                <td class="table_text">{{trip.tripStatus}}</td>
<!--
                                                <td class="table_text_center">
                                                    <a ui-sref="app.approval({param:trip._id})"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </td>
-->
                                                 <td class="table_text_center" ng-if="trip.tripStatus!='cancelled-user'">
                                                    <a ui-sref="app.approval({param:trip._id})"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                                    <!-- <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
                                                </td>
                                                <td class="table_text_center" ng-if="trip.tripStatus=='cancelled-user'">
                                                    <a href="#"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                                    <!-- <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!--end of table_responsive-->

                            </div>
                            <!--end of form-body-->
                        </form>
                    </div>
                    <!--end of portlet-body form-->

                </div>
                <!--end of portlet light bordered-->
            </div>
            <!--end of col-md-12-->

            <!-- My Requests -->
            <div class="col-md-12 column_vertical_space">
                <div class="row sapce">
                    <div class="col-md-9">
                        <div class="portlet light">
                            <div class="portlet-title ">

                                <div class="caption">
                                    <!--<i class="fa fa-info-circle red_text"></i>-->
                                    <span class="caption-subject red_text bold uppercase">My Requests</span>
                                </div>
                            </div>
                            <!--end of portlet-title-->

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal" id="form_sample_1">
                                    <div class="form-body">

                                        <div class="row space ">

                                            <div class="col-md-5 col-sm-3"></div>
                                            <!--end of col-md-3-->

                                            <div class="col-md-3 col-sm-3"></div>
                                            <!--end of col-md-3-->

                                            <!-- Export Options -->
                                            <div class="col-md-4 col-sm-6 ">
                                                <div class="option_icon">
                                                    <div class="form-group">
                                                        <a href="#" class="green_btn" title="Copy" clipboard supported="supported" text="my_requests_to_copy" on-copied="copy_success()"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                        <a href="#" class="green_btn" title="CSV" ng-click="download_csv_my_requests(response.transactionDetails)"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                                        <a href="#" class="green_btn" title="Excel" ng-click="download_xls_my_requests(response.transactionDetails)"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                                        <a href="#" class="green_btn" title="Pdf" ng-click="download_pdf_my_requests(response.transactionDetails)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                                        <a href="#" class="green_btn" title="Print" id="print_screen_my_requests"><i class="fa fa-print" aria-hidden="true"></i></a>
                                                    </div>
                                                    <!--end of form-group-->
                                                </div>
                                                <!--end of pull-right-->
                                            </div>
                                            <!--end of col-md-6-->

                                        </div>
                                        <!--end of row-->

                                        <!-- Table -->
                                        <div class="table-responsive">
                                            <table datatable="ng" dt-options="dtOptionsMyRequests" dt-column-defs="dtColumnDefsMyRequests" class="table" id="my-requests-table">
                                                <thead>
                                                    <tr>
                                                        <th class="table_heading">Sr. No.</th>
                                                        <th class="table_heading">Claim Type</th>
                                                        <th class="table_heading">Req Id.</th>
                                                        <th class="table_heading">From</th>
                                                        <th class="table_heading">To</th>
                                                        <th class="table_heading">Amount(INR)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(key,transaction) in response.mytransactions | orderBy:'-createdTime'">
                                                        <td class="table_text">{{key+1}}.</td>
                                                        <td class="table_text">{{transaction.expenseHeadName}}</td>
                                                        <td class="table_text">{{transaction.transId}}</td>
                                                        <td class="table_text">{{transaction.fromCity}}</td>
                                                        <td class="table_text">{{transaction.toCity}}</td>
                                                        <td class="table_text"><i class="fa fa-inr" aria-hidden="true"></i> {{transaction.transactionAmount | number:0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <!--end of table_responsive-->

                                    </div>
                                    <!--end of form-body-->
                                </form>
                            </div>
                            <!--end of portlet-body form-->

                        </div>
                        <!--end of portlet light bordered-->

                    </div>
                    <!--end of col-md-9-->

                    <div class="col-md-3 column_left_space">

                        <div class="portlet light bordered  rounded_border">
                            <h3 class="vd_box_heading">Total</h3>
                            <div class="row" ng-if="showdonut">

                                <div class="col-md-6">
                                    <section style="width:120px;height:260px;margin-top: -100px;">
                                        <div donut-chart donut-data='percentages_options_total' donut-label-color='none' donut-background-color='none' donut-colors='["#188AE2", "#EF5350"]' donut-formatter='percent_format'></div>
                                    </section>
                                    <!--end of col-md-6-->
                                </div>
                                <!--end of col-md-6-->

                                <div class="col-md-6">

                                    <div class="hd_symbol">
                                        <table width="80%">
                                            <tr>
                                                <td><span class="hd_blue_text"> Travel</span></td>
                                                <td>
                                                    <div class="rectangle hd_blue_bg"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="hd_red_text"> Expense</span></td>
                                                <td>
                                                    <div class="rectangle hd_red_bg"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end of hd_symbol-->

                                    <div class="hd_information">
                                        <span class="hd_blue_text_rupee"><i class="fa fa-inr" aria-hidden="true"></i>{{hod_travel_total | number:0}}</span>
                                    </div>

                                    <div class="hd_information">
                                        <span class="hd_red_text_rupee"><i class="fa fa-inr" aria-hidden="true"></i>{{hod_expenses_total | number:0}}</span>
                                    </div>

                                </div>
                                <!--end of col-md-6-->
                            </div>
                            <div ng-if="!showdonut">
                                No Data to show
                            
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of portlet light bordered-->

                    </div>
                    <!--end of col-md-3-->

                </div>
                <!--end of row-->
            </div>
            <!--end of col-md-12-->

        </div>
        <!--end of row-->

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->

</div>
<!--END PAGE CONTENT-WRAPPER-->
<!-- END CONTENT -->
<script type="text/javascript">
    function printDataTravelRequests() {
        var divToPrint = document.getElementById("travel-requests-table");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

    $('#print_screen_travel_requests').on('click', function() {
        printDataTravelRequests();
    });

    function printDataMyRequests() {
        var divToPrint = document.getElementById("my-requests-table");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

    $('#print_screen_my_requests').on('click', function() {
        printDataMyRequests();
    });

</script>
