
@charset "utf-8";
/* CSS Document */
/*@import 'https://fonts.googleapis.com/css?family=Prompt|Roboto';*/
.portlet.light.bordered>.portlet-title
{border-bottom:1px solid #D8D8D8!important;
}
/******changes*******/
.dl-horizontal dt
{
font-weight:normal!important;
color:#000!important;
line-height:30px!important;
}
.dl-horizontal dd
{
line-height:30px;
color:#808080!;
}
.heading_primary
{font-size:16px;
color: #03a9f4;
font-weight: 700;
}
.heading
{font-weight: bold;
  color: #ef5350;
  
}
.portlet h6
{
font-size:14px!important;
}

.col-sm-7 h3
{font-weight:300;
 color:#000000!important;
}
.col-md-8 h2
{
color:#00bcd4!important;
font-weight:300px!important;
font-size:20px!important;
font-family:'Roboto', sans-serif;
}
.col-md-8 h4
{
color:#808080!important;
font-size:14px!important;
font-family:'Roboto', sans-serif!important;
}
.page-header.navbar .page-logo .logo-default

{ margin-top:5px;
}
.ng-scope td
{font-weight:normal;
 color:#808080!important;
}
.column_vertical_space
{ margin-bottom:5px!important;

}
.col-md-8 
{ margin-bottom:5px!important;
}

.row > .ng-binding
{
margin-left:86px!important;
}

.portlet h5
{ color:black!important;
font-family: 'Roboto', sans-serif;
font-weight:300;
}
.reject_btn
{
margin-left:3px!important;
}
.cancel_btn
{margin-left:4px!important;
}
.hod_table_heading
{
color:white!important;
}
.radioClass
{
margin-right:5px!important;
}
.sectionClass2
{
width:65%; 
float:left;
margin-top:5px!important;
}
.editClass
{ margin-right:5px!important;
}

.um_user_emaildetails h5
{ color:#808080 !important;
height:15px!important;


}
.um_user_emaildetails
{ margin-bottom:5px!important;
}

/*.Col-Label
{width: 30%!important;;
 float: left;
 margin-top:4px!important;
 font-weight:600!important;
}
.formClass
{   width: 64%!important;
    float: left;
    margin-left: 15px;
}
.DetailClass
{ margin-top:35px!important;
}*/
/*****changes END*****/
.table thead tr th
{font-weight:normal;
color:#000;
font-size:14px;
}
#widget{
width:100%;
height:100%;
float:left;
overflow: auto;
padding-right:5px;
margin-top:5px
}

body
{background:#dee2ea;
}
/*::-webkit-scrollbar {
width: 3px;
height: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
display: none;
}
			
::-webkit-scrollbar-track-piece  {
background-color: #ececec;
-webkit-border-radius: 2px;
}
			
::-webkit-scrollbar-thumb:vertical {
-webkit-border-radius: 6px;
background: #666 url(assets/pages/img/scroll_bar.jpg) no-repeat center;
}
			
::-webkit-scrollbar-thumb:vertical:hover {
-webkit-border-radius: 6px;
background: #aaa url(assets/pages/img/scroll_bar.jpg) no-repeat center;
}

::-webkit-scrollbar-thumb:horizontal {
-webkit-border-radius: 6px;
background:  url(assets/pages/img/scroll_bar.jpg) no-repeat center;
}
			
::-webkit-scrollbar-thumb:horizontal:hover {
-webkit-border-radius: 6px;
background: url(assets/pages/img/scroll_bar.jpg) no-repeat center;
}*/

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.3em;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

::-webkit-scrollbar-track {
    background: #b8c0c8;
}


a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

 {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b8c0c8;
}


/*custom scrollbar end*/


{
/*font-family:'Prompt', sans-serif !important;*/
}
, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif!important;
	font-size:14px
}
.user-login-5 .login-container>.login-content{
margin-top:25%;
}

.user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content{
padding:0px 20px;
}




.login-content > h3{
color:#6a6a6a;
/*font-family:'Prompt', sans-serif;*/
font-size:20px;
text-align:left;
}

.user-login-5 .login-container>.login-content>.login-form input{
font-size:13px;
}

.user-login-5 .login-container>.login-content>.login-form .rem-password{
margin-top:5px;
}



.rem-password > p{
font-size:12px !important;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a{
font-size:12px;
}


.btn{
font-size:13px;
padding: 6px 10px !important;
}

.btn_left{
}

.sign_with{
	margin-top:10%;
}

.sign_with > h4{
color:#6b6b6b;
font-size:13px;
font-weight:500;
}

.sign_with_btn{
}

.sign_with_btn > a{
padding:2px 6px;
float:left;
}

.space{
padding:0px;
margin:0px;
}

.column_space{
padding-right: 7px;
padding-left: 1px;
}
.table td
{
font-size:13px!important;
}
.column_space1{
	padding-left:6px;
	padding-right:3px;
	text-align:center;
}

.column_space2{
	padding-left:0px;
}

.column_space1 > a > img{
width:98%;
}

.forgot_pwd{
margin-top:10% !important;
}

.forgot_pwd > h3{
font-size:16px;

}

.forgot_pwd > p{
font-size:13px !important;
}

/*---locked page---*/
.page-lock-info{
color:#000000 !important;
}

.page-lock .page-lock-info h1{
color:#000000 !important;
}


.page-lock .page-lock-info .email
{
color:#000000;
}

/*-----menu page-----*/




.footer_bg{
background-color:#ffffff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle> .top_menu{
color:#757575 !important;
font-size:13px;
font-weight:600;
}

.breadcrumb{
	font-family:'Roboto', sans-serif;
}

.breadcrumb > li > a{color:#ffffff;font-family:'Roboto', sans-serif;}

.login_details{
text-align:center;
padding:6% 10% 0%;
}


.login_details > p{
color:#617d8b;
font-size:14px;
font-weight:600;
margin-top:8px;
}

.fa .fa-home{
font-size:26px;
}

.btn_hover_red{
	color:#ffffff;
background-color:#e7505a;
border:1px solid #e7505a;
}

.btn_hover_red:hover{
	color:#e7505a;
	border:1px solid #e7505a;
background-color:#ffffff;
}

/*----user profile----*/


.btn-theme-panel
{
margin-top:0px;
}

.column_vertical_space{
/*padding-left:5px !important;*/
padding-right:5px !important;
}
.col-md-4
{padding-left:17px!important;
}

.user_profile_img{
padding:5% 3% 7%;
text-align:center;
}

.user_profile_img > h4{
color:#607d8b;
font-family:'Roboto', sans-serif;
font-size:18px;
text-align:center;
font-weight:bold;
margin-bottom:0px;
}

.designation{
color:#607d8b;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:center;
font-weight:bold;
margin-bottom:10%;
}

.important_dates_btn{
background-color:#ffffff;
border:1px solid #03a9f4;
color:#03a9f5;
font-family:'Roboto', sans-serif;
font-size:14px;

text-align:center;
padding:6px 12px;
}


.important_dates_btn:hover{
text-decoration:none;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #03a9f4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.margin_bottom{
margin-bottom:5px !important;
}

.person_expense{
padding:1%;
text-align:center;
}

.person_expense_heading{
margin-bottom:6%;
}

.person_expense_heading > h4{
color:#03a9f4;
font-family:'Roboto', sans-serif;
font-size:17px;
text-align:center;

margin:0px;
padding:0px;
}

h4 > .fa-money{
font-sixe:22px;
}

.personal_expense_knob{
padding-left:20px;
}


.blue_text{
color:#03a9f4 !important;
}

.portlet_margin_bottom{
margin-bottom:10px;
}


.form_label{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
/*font-weight:bold;*/
}

.form_value{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:400;
}

.form-group{
margin-bottom:10px;
}

.red_text{
color:#ef5350 !important;
}

.table_heading{
color:#585757;
}

.table_text{
color:#808080;
}

.fa-pencil-square, .fa-eye{
color:#9e9e9e;
}

.table_text > a:hover > .fa-pencil-square,
.table_text > a:hover > .fa-eye{
color:#03a9f4;
}


/*-----dashboard-----*/
.rounded_border{
border-radius:6px !important;
box-shadow:0px 0px 1px 1px #d9dcdf;
}

.dashbox_smb_heading{
}

.dashbox_smb_heading > h4{
color:#000000	;
font-family:'Roboto', sans-serif;
font-size:15px;
text-align:left;
}

.ud_rupee_bg{
margin-top:12px;
}

.ud_rupee{
	
color:#656363;
font-family:'Roboto', sans-serif;
font-size:20px;
font-weight:600;
}

.ud_rupee_title{
color:#a6a5a5;
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600px;
}

.ud_business_heading{
}

.ud_business_heading > h4{
color:#ef5350;
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
text-transform:uppercase;
text-align:center;	
}

.ud_rupee_bd{
}

.ud_rupee_bd > p{
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
margin:0px;
line-height:17px;
}

.widget-chart > ul{
margin-bottom:0px !important;
}


.ud_view_all_bg{
	padding-top:1%;
}

.ud_view_all_btn{
background-color:#659be0;
border:1px solid #659be0;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:13px;
text-align:center;
padding:7px 10px;
}

.ud_view_all_btn:hover{
background-color:#ffffff;
border:1px solid #659be0;
color:#659be0;
text-decoration:none;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;	
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}


.carousel-control{
width:3%;
}
.carousel-control 
{color: #fff;
    text-align: center;
    text-shadow: 0 4px 1px rgba(1,1,1,.6);
	}

.carousel-control.left{
background:none !important;
}

.carousel-control.right{
background:none !important;
}


.ud_location_rightborder{
border-right:1px solid #eeeeee;
}

.ud_location_icon{
margin-top:25px;
vertical-align:bottom;
margin-bottom:30px;
text-align:right;
}

.ud_location_icon > .fa-location-arrow{
color:#999999;
font-size:40px;
text-align:right;
}

ud_location_text{
}

.ud_location_text  > h4{
color:#00bcd4;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:left;
text-transform:uppercase;
/*font-weight:600;*/
}

.ud_location_text > p{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:13px;
text-align:left;
/*font-weight:bold;*/
margin-bottom:3px;
}

.ud_location_action{
padding-top:5px;
text-align:right;
}

.ud_location_action > a >.fa-pencil-square,
.ud_location_action > a > .fa-eye{
color:#00bcd4;
}

.ud_location_status{
color:#000;
font-family:'Roboto', sans-serif;
font-size:13px;

text-transform:uppercase;
}

.ud_per_exp_btspace{
margin-bottom:10%;
}




/*-----vendor_dashboard------*/
.vd_box_heading{
color:#000;
font-family:'Roboto', sans-serif;
/*font-size:20px;*/
font-size:16px!important;
text-align:left;

}

.vd_information{
padding:7% 3%;
}

.vd_small_box{
width:12px;
height:12px;
float:left;
margin-right:6px;
margin-top:3px;
}

.vd_pink{
background-color:#faa6d6;
}

.vd_pink_text{
color:#ff8acc;
font-family:'Roboto', sans-serif;
font-size:11.5px;

}

.vd_grey_text{
color:#a5a4a4;
font-family:'Roboto', sans-serif;
font-size:11.5px;

}

.vd_green{
background-color:#10c469;
}

.vd_green_text{
color:#10c469;
font-family:'Roboto', sans-serif;
font-size:11.5px;

}

.vd_red{
background-color:#ef5350;
}

.vd_red_text{
color:#ef5350;
font-family:'Roboto', sans-serif;
font-size:11.5px;

}

.grey_table{
background-color:#f6f6f6
}

.vd_zero_padding{
padding:0px !important;
}

.vd_heading_padding{
padding:12px 16px 5px !important;
}

.vd_table_padding{
padding:2px 16px 5px !important;
}

.table_text_center > a:hover > .fa-pencil-square,
.table_text_center > a:hover > .fa-eye{
color:#03a9f4;
}


/*----HOD Dashboard-----*/
.column_left_space{
padding-left:7px !important;
}
.hd_symbol{
margin-bottom:20px;
}

.hd_information{
padding:1% 21% 1% 2%;
text-align:right;
}

.rectangle{
width:20px;
height:4px;
}

.hd_blue_bg{
background-color:#188ae2;
margin-top:5%;
margin-left:0px;
}

.hd_red_bg{
background-color:#f15151;
}

.hd_blue_text{
color:#188ae2;
font-family:'Roboto', sans-serif;
font-size:12px;

}

.hd_blue_text_rupee{
color:#188ae2;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:right;
}

.hd_red_text{
color:#f15151;
font-family:'Roboto', sans-serif;
font-size:12px;

}

.hd_red_text_rupee{
color:#f15151;
font-family:'Roboto', sans-serif;
font-size:15px;

text-align:right;
}



/*-----expenses report-----*/
.input-medium {
	height:20px !important;
width:100% !important;
}

.input_md{
height:30px !important;
}

.input-group-btn > .btn1{
padding:5px 8px !important;
}


.form_label_md{
/*color:#757575;
font-weight:bold;*/
font-family:'Roboto', sans-serif;
font-size:14px;
 padding-top:5px;
color:#000;
}


.green_btn{
background-color:#33c5d2;
padding:5px 10px;
color:#ffffff;
}

.option_icon{
text-align:right;
padding-top:5px;
padding-right:15px;
}

.expenses_report_heading{
text-align:center;
margin-bottom:2%;
}

.expenses_report_heading > h3{
/*color:#2f2e2e;*/
font-family:'Roboto', sans-serif;
font-size:18px;
/*font-weight:bold;*/
text-align:center;
border-bottom:2px solid #878686;
display:inline-block;
color:#808080;
}

.er_column_space{
	padding-left:6px;
	padding-right:3px;
	text-align:center;
}




 /*div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }*/
	
.table_total{
color:#000;
font-size:14px;
/*font-weight:bold;*/
}

/*---print voucher----*/

.print_space{
float:left;
}

.print_btn{
background-color:#000;
color:#ffffff!important;
padding:5px 10px;
font-family:'Roboto', sans-serif;
font-size:16px;
border:1px solid #000;
margin-bottom:6px;
}

.print_btn:hover{
background-color:#ffffff;
color:#000!important;
border:1px solid #000;
}

.pv_form_border{
border:2px solid #e6e6e6;
padding-left:1% !important;
padding-right:1% !important;
padding-top:1% !important;
padding-bottom:1% !important;
}

.form_label_pv{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;

}

.form_value_pv{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:400;
}	

.pv_column_right{
padding-right:0px;
}

.claim_status_bg{
background-color:#ffffff;
padding-bottom:2%;
}

.claim_status_heading{
background-color:#ef5350;
padding:3%;
text-align:center;
}

.claim_status_heading > h4{
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;

}

.claim_text{
	text-align:center;
}

.claim_text > .fa-thumbs-o-up{
color:#2e2e2e;
font-size:50px;
margin-top:20%;
}

.claim_text > p{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:center;

}


.pv_emp_heading{
}

.pv_emp_heading > h3{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
text-transform:uppercase;
margin:0px;
}


.pv_uploaded_doc{
}

.pv_uploaded_doc > ul{
padding-left:10px;
}

.pv_uploaded_doc > ul > li{
list-style:none !important;
font-family:'Roboto', sans-serif !important;
font-size:14px !important;
color:#000 !important;
text-align:left !important;

padding:4px;
}
	
/*-----travel request-----*/
.tr_col_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}

.tr_column_vertical_space{
padding-left:4px !important;
padding-right:5px !important;
}


.add_new{
float:right;
}

.new_btn{
background-color:#3f51b5;
border:1px solid #3f51b5;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;
text-align:center;
}

.new_btn:hover{
background-color:#ffffff;
border:1px solid #3f51b5;
color:#3f51b5;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}
.edit{
width:25px;
height:25px;
background-color:#349adc;
border:1px solid #349abc;
padding:2px 5px;
color:#ffffff;

}

.edit > .fa-pencil{
font-size:12px;
}

.edit:hover{
background-color:#ffffff;
border:1px solid #349abc;
color:#349abc;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

.table_heading_center{
color:#757575;
text-align:center;
}

.table_text_center{
color:#808080;
text-align:center;
}

.three_btn{
float:right;
margin-bottom:20px;
}

.approve_btn{
background-color:#017f01;
border:1px solid #017f01;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;
padding:6px 12px;

}

.approve_btn:hover{
text-decoration:none;
background-color:#ffffff;
border:1px solid #01c501;
color:#01c501;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

.reject_btn{
background-color:#990000;
border:1px solid #990000;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;
padding:6px 12px;

}


.reject_btn:hover{
text-decoration:none;
background-color:#ffffff;
border:1px solid #fa0001;
color:#fa0001;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

.cancel_btn{
background-color:#9e9e9e;
border:1px solid #9e9e9e;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;
padding:6px 12px;

}


.cancel_btn:hover{
text-decoration:none;
background-color:#ffffff;
border:1px solid #9e9e9e;
color:#9e9e9e;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}


.modal-header{
background-color:#3f51b5;
color:#ffffff;
text-transform:uppercase;
font-family:'Roboto', sans-serif;
}

.modal-title{
font-weight:bold;
}

.modal-footer{
background-color:#e9e9e9;
}

.send_btn{
background-color:#0d47a1;
border:1px solid #0d47a1;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:15px;

padding:6px 12px;
}

.send_btn:hover{
text-decoration:none;
background-color:#ffffff;
border:1px solid #0d47a1;
color:#0d47a1;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}


.row_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
}

.input-icon>i{
margin:9px 2px 4px 10px;
}

.input-icon > .fa-clock-o{
color:#03a9f4;
}

.input-group-btn{
background-color:#ffffff !important;
}

.pagination_div{
border-top:1px solid #e7ecf1;
}

.pagination_text{
}

.pagination_text > P
{
font-family:'Roboto', sans-serif;
font-size:15px;
color:#000;
text-align:left;
padding-top:15px;
}

.pagination_text > ul{
float:right;
}

.place{
}

.place > h4{
color:#ee534f;
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
margin-bottom:1px;
}

.place > p{
color:#757575;
font-family:'Roboto', sans-serif;
font-size:13px;

margin-bottom:1px;
}

.cancel_request_heading{
}

.cancel_heading > h3{
color:#03a9f4;
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
text-align:left;
padding-bottom:3px;
border-bottom:1px solid #eeecec;
margin-left:15px;
margin-top:8px;
}

/*-----HOD Approval-----*/

.requisition_details_bg{
background:url(../img/requisition_details_bg.png) repeat-x;
background-position:center;
background-size:cover;
padding:12px 20px 15px;
border:1px solid #e7ecf1 !important;
margin-bottom:15px;
}

.hod_heading{
	text-align:left;
	margin-bottom:1.5%;
}

.hod_heading > h2{
color:#3f51b5;
font-family:'Roboto', sans-serif;
font-size:16px;
font-weight:bold;
display:inline-block;
margin-top:6px;
}

.purple_border{
border-bottom:3px solid #3f51b5;
width:90px;
}
/*.gray_border{
border-bottom:1px solid #e4e2e0;
}*/

.employee_img{

}

.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
}

.form_label_hod{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;

}

.form_value_hod{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:400;
}

.nav-tabs1 > li > a{
background-color:#b8becf;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:14px;

text-transform:uppercase;
border:none;
}


.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover{
background-color:#1479c1;
color:#ffffff;
border:none;
}

.nav-tabs1 > li > a:hover,
.nav-tabs1 > li > a:focus{
background-color:#1479c1;
color:#ffffff;
}

.nav-pills, .nav-tabs{
margin-bottom:0 !important;
}

.hod_list_select{
	float:right;
}

.hod_list_select > label{
	color:#999999;
	font-family:'Roboto', sans-serif;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	
}

.hod_grid_list{
color:#d8d8d8;
margin-bottom:0px;
padding-bottom:0px;
}

.hod_grid_list:hover{
color:#1479c1;
}

.hod_grid_list > .fa-th,
.hod_grid_list > .fa-list{
font-size:19px;
margin-bottom:0px;
padding-bottom:0px;
}

.hod_table_heading{
background-color:#1479c1;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:left;
}

.hod_table_text{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:13px;
text-align:left;
/*font-weight:bold;*/
}

.green_checkbox{
color:#2e7d32;
}

#widget > .table{
width:1300px; !important;
margin-bottom:10px;
}

.margin_top{
margin-top:3%;
}

.card_view{
background:url(assets/pages/img/card_view.jpg) repeat-x;
background-size:cover;
border:1px solid #808080;
margin-bottom:10px;
padding:3%;
}

.grid_label{
color:#000;
font-family:'Roboto', sans-serif;
font-size:11.6px;
text-align:left;

padding:4px 2px;
}

.grid_value{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:11.6px;
text-align:left;

padding:4px 2px;

}

.grid_checkbox{
border-top:1px solid #d8d8d8;
padding:5px;
}

.ha_tab_content{
border:1px solid #1479c1 !important;
padding-top:10px !important;
}


/*-----vendor tours fares------*/
.padding_top{
padding-top:10px;
}

.vendor_travel_place > h4{
color:#ee534f;
font-family:'Roboto', sans-serif;
font-size:16px;
text-align:left;
font-weight:normal;
margin-top:0px;
margin-bottom:2px;
}
.vtf_col_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}


.vendor_travel_subdesc > p{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:12px;
text-align:left;
font-weight:normal;
margin-bottom:0px;
}

.heading_padding{
padding:8px 20px !important;
}

.vendor_form_label{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
/*font-weight:bold;*/
padding-top:7px;
text-align:left;
font-weight:normal;
}

.pink_text{
color:#faa6d7;
}

.vendor_tabel_label{
border-bottom:1px solid #e7e7e7;
}

.row_margin{
margin-top:1%;
margin-bottom:1%;
}

.vendor_form_dp{
color:#808080;
height:30px !important;
}

.vendor_form_dpm{
width:60%;
color:#9e9e9e;
height:30px !important;
margin-right:10px;
float:left;
}

.add_btn_bg{
padding-top:5px;
}

.add_btn{
background-color:#1479c1;
border:1px solid #1479c1;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:12px;
text-align:center;
padding:7px 10px;

}

.add_btn:hover{
text-decoration:none;
background-color:#ffffff;
border:1px solid #1479c1;
color:#1479c1;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

.border_none{
border-top:none !important;
}

.vendor_table_heading{
line-height:30px !important;
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
}

/*----vendor comparison----*/

.panel-heading{
background-color:#dce1e4;
}

.panel-title{
color:#ee534f;
font-family:'Roboto', sans-serif;
font-size:15px;
/*font-weight:bold;*/

}


.panel .panel-title>a:hover{
color:#3f51b5;
}

.heading_contact{
color:#757575;
font-family:'Roboto', sans-serif;
font-size:14px;
/*font-weight:bold;*/
margin-left:3%;
text-transform:capitalize;
}

.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
}

.package_text{
color:#444444;
font-family:'Roboto', sans-serif;
font-size:12px;
text-align:left;
font-weight:bold;
margin-top:8px;
padding-bottom:0px;
margin-bottom:0px;
}

td > small{
color:#949494;
font-family:'Roboto', sans-serif;
font-size:12px;
font-weight:bold;
padding-top:0px;
margin-top:0px;

}

.package_icon{
text-align:center;
}

.package_icon > .fa-clock-o,
.package_icon > .fa-compass{
font-size:16px;
color:#ee534f;
}

.total_bg{
background-color:#f0f0f0;
}

.total_padding{
padding:10px 5px;
}

.total_text{
color:#262626;
font-family:'Roboto', sans-serif;
font-size:16px;
float:right;
font-weight:bold;
margin-right:30px;
}


/*------invoice management-------*/
.im_col_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}
.delete{
width:22px;
height:22px;
background-color:#fd0305;
border:1px solid #fd0305;
padding:1px 6px;
color:#ffffff;

}
.view
{
width:22px;
height:22px;
background-color:#666666;
border:1px solid #666666;
padding:1px 6px;
color:#ffffff;
}

.view:hover
{
width:22px;
height:22px;
background-color:#ffffff;
border:1px solid #666666;
padding:1px 6px;
color: #666666;
}
.view1
{
width:19px;
height:22px;
background-color:#666666;
border:1px solid #666666;
padding:1px 6px;
color:#ffffff;
}

.delete > .fa-times{
font-size:11px;
}

.delete:hover{
background-color:#ffffff;
border:1px solid #fd0305;
color:#fd0305;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

/*-----user management-----*/


.um_tab_bg{
background-color:#f6f6f6;
padding-top:10px;
padding-bottom:15px;
min-height:400px;
}


.nav-pills{
width:100%;
}

.nav-pills > li+li{
margin-left:5px;
}

nav-justified > li{
margin-left:5px;
}


.nav-pills > li > a{
background-color:#2196f3;
color:#ffffff;
font-family:'Roboto', sans-serif;
/*font-size:15px;
font-weight:600;*/
padding:10px 5px;
}



.nav-pills > li+li > a{
background-color:#2196f3;
color:#ffffff;
font-family:'Roboto', sans-serif;
/*font-size:15px;
font-weight:600;*/
margin-left:5px;

}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
background-color:#2382c4;
color:#ffffff;
}

.nav-pills > li.active > a{
background-color:#2382c4;
color:#ffffff;
font-family:'Roboto', sans-serif;
/*font-size:15px;
font-weight:600;*/
}

.um_tab_content{
padding:3px 10px;
}


.um_tabcontent_heading{

border-bottom:1px solid #575656;
}

.um_tabcontent_heading > h4{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;

text-align:left;
padding-left:8%;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{
margin-left:0px !important;
}

.radio_type{
padding:10px 7.6%;
}


.um_radio_label{
color:#808080 !important;
font-family:'Roboto', sans-serif;
font-size:14px !important;

padding-left:5%;
}

.grey-tooltip > .tooltip{
border-radius:10px;
}

.grey-tooltip + .tooltip > .tooltip-inner {
background-color: #6d6d6d;
font-family:'Roboto', sans-serif;
font-size:11px;
font-weight:600; 
 }
.grey-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#6d6d6d; }

 .tooltip_templates { display: none; }  

.tooltip{
display:block;
}


.um_nextbtn_bg{
padding:2% 4%;
float:right;
}

.um_next_btn{
background-color:#33c5d2;
border:1px solid #33c5d2;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:12px;
text-transform:uppercase;

padding:8px 20px;
}

.um_next_btn:hover{
background-color:#ffffff;
border:1px solid #33c5d2;
color:#33c5d2;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
text-decoration:none;
}

.um_radio_btn_heading{

}

.um_radio_btn_heading > h4{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;

text-align:left;
padding-left:8%;
}

.um_checkbox_bg{
padding-left:4%;
}


.um_checkbox_label{
color:#787777;
font-family:'Roboto', sans-serif;
font-size:12px;

}

.um_admin_right_content{
padding-left:8%;
}

.um_admin_right_text{
}

.um_admin_right_text > h4{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:left;

}

.admin_right_radio_label{
color:#808080;
font-family:'Roboto', sans-serif;
font-size:12px;

}

.um_email_details{
padding-left:7%;
}

.um_user_emaildetails{
}

.um_user_emaildetails > h5{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:left;
font-weight:normal;

}

.um_email_textbox{
background-color:#f6f6f6;
height:30px;
}

.um_email_mdtextb{
width:30%;
float:left;
margin-right:5px;
background-color:#f6f6f6;
height:30px;
}

.um_email_note{
	padding-top:2%;
padding-left:8%;
}

.um_notetext{

}

.um_notetext > p{
color:#787777;
font-family:'Roboto', sans-serif;
font-size:12px;
line-height:25px;
text-align:left;
margin:2px ;
}


/*----configuration setting----*/
.cs_form_toppadding{
padding-top:2px !important;
}

.cm_tab_content{
padding:2%;
}

.tabs-left.nav-tabs{
border-right:none !important;
}

.nav-tabs2 > li > a{
background-color:#d9d9d9 !important;
color:#272727 !important;
font-family:'Roboto', sans-serif !important;
font-size:15px !important;
text-align:left !important;
/*font-weight:600 !important;*/
border:none;
}


.nav-tabs2 > li.active > a{
color:#ffffff !important;
background-color:#3f51b5 !important;
}

.nav-tabs2 > li > a:hover,
.nav-tabs2 > li > a:focus{
color:#ffffff !important;
background-color:#3f51b5 !important;	
}

.cs_vertical_tab_content{
}

.cs_vertical_tab_content > p{
text-align:left;
font-family:'Roboto', sans-serif;
font-size:13px;
/*font-weight:600;*/
color:#808080;
 line-height:25px;
}

.cs_table_heading{
color:#3c3c3c;
font-family:'Roboto', sans-serif;
font-size:13px;
font-weight:bold;
}

.cs_table_text{
}

.cs_table_text > p{
color:#9e9e9e;
text-align:left;
font-family:'Roboto', sans-serif;
font-size:12px;
font-weight:600;
margin:0px;
}

/*-----report management------*/
.rm_form_toppadding{
padding-top:2px !important;
}

.rm_tab_bg{
background-color:#f9f9f9;
padding-top:10px;
padding-bottom:15px;
min-height:400px;
}

.rm_tab_content{
padding-left:0%;
}



.rm_tab_content > h4{
font-family:'Roboto', sans-serif;
font-size:16px;
color:#272727;
text-align:left;
font-weight:600;
margin-bottom:3%;
}

.rm_vertical_tab_content{
}

.rm_vertical_tab_content > p{
text-align:left;
font-family:'Roboto', sans-serif;
font-size:13px;
font-weight:600;
}

.rm_input_md{
height:31.5px !important;	
padding-left:2px;
}

.rm_textbox{
background-color:#eef1f5 !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
background-color:#eef1f5 !important;
}


.rm_form_label{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:left;
font-weight:normal;
}

.run_report_bg{
border-top:1px solid #cacaca;
margin-bottom:3%;
}

.run_report
{
margin-top:5%;
padding:6% 1% 6% 12%;
}


.run_report_btn{
background-color:#1479c1;
color:#ffffff;
padding:6px 12px;
font-family:'Roboto', sans-serif;
font-size:14px;

}


.run_report_btn:hover{
background-color:#ffffff;
border:1px solid #1479c1;
color:#1479c1;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
text-decoration:none;
}


/*-----google_map------*/
.google_map{
margin-bottom:1.5%;
}

.gm_col_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}

/*-----monthwise_trip-----*/
.mt_btn_bg{
margin-top:2px;
margin-bottom:2px;
}

.mt_btn_bg > a{
}

.mt_btn_bg > a:hover{
text-decoration:none;
}

.monthwisetrip_btn{
background-color:#ffffff;
border:1px solid #ffffff;
color:#03a9f4;
font-family:'Roboto', sans-serif;
font-size:15px;
text-align:center;
padding:15px 5px;
width:100%;
}


.monthwisetrip_btn > .fa-car{
margin-right:5px;
}

.monthwisetrip_btn > .fa-money{
margin-right:5px;
font-size:22px;
margin-top:5px;
}

.monthwisetrip_btn:hover{
text-decoration:none;	
border:1px solid #03a9f4;
background-color:#03a9f4;
color:#ffffff;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
}

.mt_form_toppadding{
padding-top:2px !important;
}

.tab-left > .nav-tabs3{
border-right:none !important;
}

.nav-tabs3 > li > a{
border:none;
}

.mt_first_green_tab{
background-color:#4cb050 !important;
color:#ffffff !important;
}

.mt_second_yellow_tab{
background-color:#fec107 !important;
color:#ffffff !important;
}

.mt_tab_content{
border-left:none !important;
}

.nav-tabs3 > li > a{
border:none;
font-family:'Roboto', sans-serif;
font-size:15px;

text-align:center;
border:none ;
}

.nav-tabs3 > li.active > a{
background-color:#03a9f4 !important;
color:#ffffff !important;
border:none;
}

.nav-tabs3 > li.active > a:hover,
.nav-tabs3 > li.active > a:focus{
border:none;
}

.nav-tabs3 > li > a:hover,
.nav-tabs3 > li > a:focus{
background-color:#03a9f4 !important;
color:#ffffff !important;
border:none;
}



.mt_first_green_tab{
background-color:#4cb050 !important;
color:#ffffff !important;
}

.mt_second_yellow_tab{
background-color:#fec107 !important;
color:#ffffff !important;
}

.mt_third_orange_tab{
background-color:#ff9000 !important;
color:#ffffff;
}

.mt_table_heading{
background-color:#f5f5f5;
color:#7a7a7a;
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:bold;
text-align:center;
text-transform:uppercase;
padding:3px !important;
}

.mt_tabel_text{
color:#7a7a7a;
font-family:'Roboto', sans-serif;
font-size:13px;
font-weight:500px;
}

.badge{
border-radius:0px !important;
background-color:#26a59a;
color:#ffffff;
font-family:'Roboto', sans-serif;
font-size:12px !important;
line-height:15px;
height:20px !important;
}

.mt_addtrip_content{
	padding:4% 0%;
}

.mt_addtrip_heading{
}

.mt_addtrip_heading > h4{
color:#000;
font-family:'Roboto', sans-serif;
font-size:14px;

text-transform:uppercase;
}

.add_to_btn_bg{
padding:10px 0px;
}

.add_tonote_btn{
color:#ffffff;
background-color:#00acc0;
padding:6px 12px;
font-family:'Roboto', sans-serif;
font-size:14px;
text-align:center;

}


.mt_trip_list{
padding-top:10px;
}

.mt_trip_list > p{
margin-bottom:2px;
margin-top:2px;
display:inline-block;
}

.label-grey{
background-color:#b3b3b3;
color:#ffffff;
/*font-family:'Roboto', sans-serif;*/
font-size:12px;

padding:3px 12px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-family:'Roboto', sans-serif;
font-size:14px;

color:#000;
}


/*---------------------------
Responsive code start------------*/

@media(min-width:1280px) {
/*---index login page---*/
.remember_text_space{
padding-right:3px;
}

/*----user profile----*/
.page-head .page-title > h1{
font-size:18px;
padding-left:10px !important;
}

.personal_expense_knob{
padding-left:10px;
}

/*---user dashboard---*/
.ud_rupee{
	
color:#656363;
font-family:'Roboto', sans-serif;
font-size:18px;
font-weight:600;
}

.ud_rupee_title{
color:#a6a5a5;
font-family:'Roboto', sans-serif;
font-size:12px;
font-weight:600px;
}

.um_user_emaildetails > h5{
font-size:14px;
text-align:left;

height:25px;
}	


}

@media (max-width:1280px) and (min-width:1220px) {
/*---index login page---*/
.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:30% !important;
}

/*----print voucher----*/
.pv_uploaded_doc > ul{
margin-bottom:0px;
}

/*---HOD Approval---*/
.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:40px;
}

/*----user management----*/
.nav-pills > li > a{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600;
padding:10px 5px;
}

.nav-pills > li+li > a{
font-size:14px;
font-weight:600;
margin-left:5px;
}

.nav-pills > li.active > a{
font-size:14px;
font-weight:600;
}

/*---configration_setting---*/

.cs_tab_height{
height:55px;
}

.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}




}


@media(max-width:1024px) {
/*---index login page---*/
.remember_text_space{
padding-right:3px;
}

.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:30% !important;
}

.personal_expense_knob{
padding-left:10px;
}

	
}


@media (max-width: 992px) {
/*---index login page---*/	
.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:30% !important;
}

.btn{
font-size:13px;
padding: 4px 10px !important;
}

.login-footer{
margin-top:35% !important;
}
/*----user profile----*/
.page-head .page-title > h1{
font-size:17px;
padding-left:11px !important;
}

.personal_expense_knob{
padding-left:3px;
}

/*---dashboard---*/
.rounded_border{
padding:15px !important;
}

.chart_textcolumn_space{
padding-right:2px;
}



.vd_green_text{
font-size:12px;
}

.vd_red_text{
font-size:12px;
}

.vd_grey_text{
font-size:12px;
}

/*---user dashboard---*/
.ud_box_textcenter{
text-align:center;
}

.dashbox_smb_heading > h4{
text-align:center;
}

.ud_per_exp_btspace{
margin-bottom:5%;
}

.ud_busexp_btspace{
margin-bottom:5%;
}



/*----HOD Dashboard-----*/
.column_left_space{
padding-left:18px !important;
}

.hd_knob{
padding:2px 15px;
}

/*---expenses report---*/
.expenses_report_heading > h3{
font-size:16px;
}

/*---monthwise_trip----*/
.mt_btn_bg{
margin-top:4px;
margin-bottom:5px;
}

.monthwisetrip_btn{
font-size:15px;
padding:11px 5px;	
}

.nav-tabs3 > li > a{
font-size:14px;

text-align:center;
padding:6px;
}

.mt_textarea{
width:100%;
height:100px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-size:13.3px;
font-weight:600;
}

/*---HOD Approval---*/
.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:40px;
}


.form_label_hod{
font-size:13px;
font-weight:bold;
}

.form_value_hod{
font-size:13px;
font-weight:400;
}

#widget > .table{
max-width:1300px;
}

/*----vendor comparison----*/
.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
margin-bottom:3%;
}

.vc_box_img{
padding-left:6%;
}

.vc_col_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}


/*---vendor_tours_fares---*/	
.vtf_col_vertical_space{
padding-left:15px !important;
padding-right:5px !important;
}

.flip-scroll td:last-child, .flip-scroll th:last-child{
border-bottom:none;
}

/*----user management----*/
.nav-pills > li > a{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600;
padding:10px 5px;
}

/*----user management----*/
.nav-pills > li > a{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600;
padding:10px 5px;
}

.nav-pills > li+li > a{
font-size:14px;
font-weight:600;
margin-left:5px;
}
.nav-pills > li.active > a{
font-size:14px;
font-weight:600;
}

.um_tabcontent_heading > h4{
font-size:14px;

text-align:left;
padding-left:5%;
color:black;
}

.radio_type{
padding:10px 5%;
}

.um_radio_btn_heading > h4{
font-size:14px;
font-weight:bold;
text-align:left;
padding-left:5%;
}

.um_admin_right_text{
height:110px;
}

.um_email_details{
padding-left:3%;
}

.um_user_emaildetails > h5{
font-size:13px;
text-align:left;
font-weight:bold;
}

.um_email_note{
padding-top:2%;
padding-left:5%;
}

/*---configration_setting---*/

.cs_tab_height{
height:55px;
}

.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}

/*----report management----*/
.rm_textbox{
font-size:13px;
padding-left:4px;
}

.run_report_btn{
padding:6px 12px;
font-size:14px;
font-weight:bold;
}


}


@media (max-width: 800px) {
/*---index login page---*/
.remember_text_space{
padding-right:3px;
}

.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:30% !important;
}

.btn{
font-size:13px;
padding: 4px 10px !important;
}

.login-footer{
margin-top:50% !important;
}

/*----user profile----*/
.page-head .page-title > h1{
font-size:17px;
padding-left:11px !important;
}

.personal_expense_knob{
padding-left:0px;
}

.padding_zero{
padding:12px 0px 15px !important;
}

.user_profile_img > h4{
font-size:17px;
text-align:center;
font-weight:bold;
margin-bottom:0px;
}

.designation{
font-size:13px;
text-align:center;
font-weight:bold;
margin-bottom:10%;
}


.important_dates_btn{
font-family:'Roboto', sans-serif;
font-size:12px;

text-align:center;
padding:6px 7px;
}

.monthwisetrip_btn{
font-size:16px;
text-align:center;
font-weight:bold;
padding:12px 5px;
width:100%;
}

.person_expense_heading > h4{
font-size:16px;
text-align:center;

margin:0px;
padding:0px;
}


.portlet.light>.portlet-title>.caption>.caption-subject{
font-size:15px;
}

.form_label{
font-size:13px;
font-weight:bold;
}

.form_value{
font-size:13px;
font-weight:400;
}

.table_heading{
font-size:13px;
color:#757575;
}

.table_text{
font-size:13px;
color:#808080;
}

.table thead tr th{
font-size:13px;
}

.table t tr td{
font-size:13px;
}

/*---dashboard---*/
.rounded_border{
padding:5px !important;
}

.chart_textcolumn_space{
padding-right:2px;
}



.vd_green_text{
font-size:11px;
}

.vd_red_text{
font-size:11px;
}

.vd_grey_text{
font-size:11px;
}


/*---user dashboard---*/
.ud_box_textcenter{
text-align:center;
}

.dashbox_smb_heading > h4{
text-align:center;
}

.ud_per_exp_btspace{
margin-bottom:5%;
}

.ud_busexp_btspace{
margin-bottom:5%;
}


/*---HOD dashboard---*/

.hd_knob{
padding:2px 15px;
}



/*---expenses report---*/
.expenses_report_heading > h3{
font-size:16px;
}

/*---print voucher---*/

.form_label_pv{
font-size:13px;
font-weight:bold;
}

.form_value_pv{
font-size:13px;
font-weight:400;
}

.pv_emp_heading > h3{
font-size:15px;
}


/*---monthwise_trip----*/
.mt_btn_bg{
margin-top:4px;
margin-bottom:5px;
}

.monthwisetrip_btn{
font-size:15px;
padding:11px 5px;	
}

.nav-tabs3 > li > a{
font-size:14px;
font-weight:bold;
text-align:center;
padding:6px;
}

.mt_textarea{
width:100%;
height:100px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-size:13px;
font-weight:600;
}

/*---HOD Approval---*/
.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:40px;
}


.form_label_hod{
font-size:13px;
font-weight:bold;
}

.form_value_hod{
font-size:13px;
font-weight:400;
}

#widget > .table{
max-width:1300px;
}

/*----vendor comparison----*/
.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
margin-bottom:3%;
}

.vc_box_img{
padding-left:5%;
}

.vc_col_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}

/*----user management----*/
.nav-pills > li > a{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600;
padding:10px 5px;
height:60px;
}

.nav-pills > li+li > a{
font-size:14px;
font-weight:600;
margin-left:5px;
height:60px;
}
.nav-pills > li.active > a{
font-size:14px;
font-weight:600;
}

.um_tabcontent_heading > h4{
font-size:14px;
color:black
text-align:left;
padding-left:5%;
}

.radio_type{
padding:10px 5%;
}

.um_radio_btn_heading > h4{
font-size:14px;
font-weight:bold;
text-align:left;
padding-left:5%;
}

.um_admin_right_text{
height:110px;
}

.um_email_details{
padding-left:3%;
}

.um_user_emaildetails > h5{
font-size:13px;
text-align:left;
font-weight:bold;
height:25px;
}

.um_email_note{
padding-top:2%;
padding-left:5%;
}	

/*----configration setting----*/
.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}

/*----report management----*/
.rm_textbox{
font-size:13px;
padding-left:4px;
}

.rm_form_label{
font-size:13px;
text-align:left;
font-weight:bold;
}

.run_report_btn{
padding:6px 12px;
font-size:14px;
font-weight:bold;
}
	
}


@media (max-width:768px) and (min-width: 767px) {
/*---index login page---*/
.remember_text_space{
padding-right:3px;
}

.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:30% !important;
}

.btn{
font-size:13px;
padding: 4px 10px !important;
}

.login-footer{
margin-top:15% !important;
}

/*----user profile----*/
.page-content-wrapper .page-content .page-title{
margin-bottom:0px !important;
}

.page-head .page-title > h1{
font-size:17px;
padding-left:11px !important;
}

.page-container{
padding:10px 5px !important;
}

.column_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}


.padding_zero{
padding:12px 0px 15px !important;
}

.user_profile_img > h4{
font-size:17px;
text-align:center;
font-weight:bold;
margin-bottom:0px;
}

.designation{
font-size:13px;
text-align:center;
font-weight:bold;
margin-bottom:10%;
}

.important_dates_btn{
font-family:'Roboto', sans-serif;
font-size:12px;

text-align:center;
padding:6px 7px;
}

.monthwisetrip_btn{
font-size:15.4px;
text-align:center;

padding:12px 5px;
width:100%;
}

.person_expense_heading > h4{
font-size:15.4px;
text-align:center;
font-weight:bold;
margin:0px;
padding:0px;
}

.portlet.light>.portlet-title>.caption>.caption-subject{
font-size:15px;
}

.form_label{
font-size:13px;
font-weight:bold;
}

.form_value{
font-size:13px;
font-weight:400;
}

.table_heading{
font-size:13px;
color:#757575;
}

.table_text{
font-size:13px;
color:#9e9e9e;
}

.table thead tr th{
font-size:13px;
}

.table t tr td{
font-size:13px;
}
	


/*---dashboard---*/
.rounded_border{
padding:5px !important;
}

.chart_textcolumn_space{
padding-right:2px;
}


.vd_green_text{
font-size:11px;
}

.vd_red_text{
font-size:11px;
}

.vd_grey_text{
font-size:11px;
}



/*---user dashboard---*/
.ud_box_textcenter{
text-align:center;
}

.dashbox_smb_heading > h4{
text-align:center;
}

.ud_per_exp_btspace{
margin-bottom:5%;
}

.ud_busexp_btspace{
margin-bottom:5%;
}



/*----HOD Dashboard----*/

.hd_knob{
padding:2px 15px;
}



/*---expenses report---*/
.expenses_report_heading > h3{
font-size:16px;
}

/*---print voucher---*/

.form_label_pv{
font-size:13px;
font-weight:bold;
}

.form_value_pv{
font-size:13px;
font-weight:400;
}

.pv_emp_heading > h3{
font-size:15px;
}

/*---monthwise_trip----*/
.mt_btn_bg{
margin-top:4px;
margin-bottom:5px;
}

.monthwisetrip_btn{
font-size:15px;
padding:11px 5px;	
}

.nav-tabs3 > li > a{
font-size:14px;
font-weight:bold;
text-align:center;
padding:5px;
}

.mt_textarea{
width:100%;
height:100px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-size:13px;
font-weight:600;
}


/*---travel request---*/
.tr_column_vertical_space{
padding-left:2px !important;
padding-right:12px !important;
}

.place > p{
font-size:12px;
font-weight:bold;
margin-bottom:1px;
}

/*---HOD Approval---*/
.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:40px;
}


.form_label_hod{
font-size:13px;
font-weight:bold;
}

.form_value_hod{
font-size:13px;
font-weight:400;
}

#widget > .table{
max-width:1300px;
}

/*----vendor comparison----*/
.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
margin-bottom:3%;
}

.vc_box_img{
padding-left:5%;
}

.vc_col_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}

/*----user management----*/
.nav-pills > li > a{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:600;
padding:10px 5px;
height:60px;
}

.nav-pills > li+li > a{
font-size:14px;
font-weight:600;
margin-left:5px;
height:60px;
}
.nav-pills > li.active > a{
font-size:14px;
font-weight:600;
}

.um_tabcontent_heading > h4{
font-size:14px;

text-align:left;
padding-left:5%;
}

.radio_type{
padding:10px 5%;
}

.um_radio_btn_heading > h4{
font-size:14px;
font-weight:bold;
text-align:left;
padding-left:5%;
}

.um_email_details{
padding-left:3%;
}

.um_user_emaildetails > h5{
font-size:13px;
text-align:left;
font-weight:bold;
height:25px;
}

.um_email_note{
padding-top:2%;
padding-left:5%;
}

/*----configration settings-----*/

.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}

/*----report management----*/
.rm_textbox{
font-size:13px;
padding-left:4px;
}

.rm_form_label{
font-size:13px;
text-align:left;
font-weight:bold;
}

.run_report_btn{
padding:6px 12px;
font-size:14px;
font-weight:bold;
}

/*----invoice management----*/
.im_col_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}

/*----invoice management----*/
.gm_col_vertical_space{
padding-left:2px !important;
padding-right:2px !important;
}


}


@media (max-width: 480px) {
/*---index login page---*/
.user-login-5 .login-container > .login-content{
margin-top:15%;
}

.login-content{
}

.login-content > img{
width:45%;
}

.login-content > h3{
font-size:18px;
}

.remember_text_space{
padding-right:3px;
}

.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:1% !important;
}

.btn{
font-size:13px;
padding: 4px 10px !important;
}

.sign_with{
text-align:center;
}

.column_space{
padding-left:30%;
}


.column_space > a > img{
width:60%;
margin-bottom:2%;
}

.column_space1{
padding-left:30%;
}

.column_space1 > a > img{
width:61%;
margin-bottom:2%;
}

.column_space2{
padding-left:30%;
}

.column_space2 > a > img{
width:64%;
margin-bottom:2%;

}
.login-footer{
margin-top:15% !important;
}

/*---locked page---*/
.page-logo > a > img{
	width:50% !important;
}

.page-lock-img{
width:50%;
}

/*----user profile----*/

.page-header.navbar .page-logo .logo-default{
width:60% !important;
}

.page-header.navbar .page-actions{
margin:10px 10px 15px 0px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu{
margin-right:-100px;
}

.page-content-wrapper .page-content .page-title{
margin-bottom:0px !important;
}


.page-head .page-title > h1{
font-size:17px;
padding-left:11px !important;
}



.page-container{
padding:5px 5px !important;
}

.page-content-wrapper .page-content{
padding:10px 5px 10px !important;
}

.portlet.light{
padding: 12px 10px 15px;
}


.column_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}


.padding_zero{
padding:12px 55px 15px !important;
}

.user_profile_img > h4{
font-size:17px;
text-align:center;
font-weight:bold;
margin-bottom:0px;
}

.designation{
font-size:13px;
text-align:center;
font-weight:bold;
margin-bottom:10%;
}

.important_dates_btn{
font-family:'Roboto', sans-serif;
font-size:14px;

text-align:center;
padding:6px 7px;
}

.monthwisetrip_btn{
font-size:16px;
text-align:center;
font-weight:bold;
padding:12px 5px;
width:100%;
}

.person_expense_heading > h4{
font-size:16px;
text-align:center;
font-weight:bold;
margin:0px;
padding:0px;
}

.portlet.light>.portlet-title>.caption>.caption-subject{
font-size:15px;
}

.form_label{
font-size:13px;
font-weight:bold;
}

.form_value{
font-size:13px;
font-weight:400;
}

.table_heading{
font-size:13px;
color:#757575;
}

.table_text{
font-size:13px;
color:#9e9e9e;
}

.table thead tr th{
font-size:13px;
}

.table t tr td{
font-size:13px;
}

/*----dashboard----*/
.rounded_border{
border-radius:6px !important;
box-shadow:0px 0px 1px 1px #d9dcdf;
padding:7px !important;
} 

.dp_margin_bottom{
margin-bottom:10px;
}

.dptext_margin_bottom{
margin-bottom:19px;
}	

.option_icon{
text-align:left;
padding-top:5px;
padding-left:10px;
}

.pagination > li > a{
font-size:11px;
}

.pagination_text > P{
margin-bottom:3px;
}

/*---user dashboard---*/
.ud_rupee{
font-size:17px;
font-weight:600;
}


.ud_per_exp_btspace{
margin-bottom:5%;
}

.ud_busexp_btspace{
margin-bottom:5%;
}

.ud_carousel_item_btmspace{
margin-bottom:30px;
}

.ud_location_icon{
margin-top:15px;
vertical-align:bottom;
margin-bottom:5px;
text-align:right;
float:left;
margin-right:6px;
}

.ud_location_action{
padding-top:5px;
text-align:right;
float:left;
margin-top:15px;
}

.ud_location_text  > h4{
color:#00bcd4;
font-family:'Roboto', sans-serif;
font-size:16px;
text-align:left;
text-transform:uppercase;
font-weight:600;
margin-top:0px;
margin-bottom:2px;
}


/*---hod dashboard---*/
.vd_green_text{
font-size:11px;
}

.hd_knob{
padding:2px 15px;
}

.hd_blue_text{
font-size:11px;
}

.hd_red_text{
font-size:11px;
}


/*---expenses report---*/
.er_column_space{
	padding-left:2px;
	padding-right:3px;
	text-align:center;
	
}

.input_md{
width:100%;
padding-left:2px;
}

.expenses_report_heading > h3{
font-size:15px;
}

/*---print voucher---*/
.heading_column_space{
padding-left:3px;
padding-right:3px;
}

.form_label_pv{
font-size:13px;
font-weight:bold;
}

.form_value_pv{
font-size:13px;
font-weight:400;
}

.pv_emp_heading > h3{
font-size:15px;
}

.pv_column_right{
padding-left:0px;
margin-bottom:10px;
}

/*---monthwise_trip----*/
.mt_btn_bg{
margin-top:4px;
margin-bottom:5px;
}

.monthwisetrip_btn{
font-size:15px;
padding:11px 5px;	
}

.nav-tabs3 > li > a{
font-size:14px;
font-weight:bold;
text-align:center;
padding:5px;
}

.mt_textarea{
width:100%;
height:100px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-size:13px;
font-weight:600;
}

/*---travel request---*/
.tr_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

.tr_column_vertical_space{
padding-left:15px !important;
padding-right:15px !important;
}

.input-medium{
margin-bottom:10px !important;
}

.three_btn{
float:none;
}

.approve_btn{
padding:6px 8px;
font-size:13px;

}

.reject_btn{
font-size:13px;
padding:6px 8px;

}

.cancel_btn{
font-size:13px;
padding:6px 8px;

}

/*-----HOD Approval------*/
.requisition_details_bg{
padding: 12px 10px 15px;
}

.employee_img{
padding-left:16%;
margin-bottom:3%;
}

.employee_img > img{
width:80%;
}


.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:50px;
padding-bottom:10px;
}


.form_label_hod{
font-size:13px;
font-weight:bold;
}

.form_value_hod{
font-size:13px;
font-weight:400;
}

.xs_col_btm_border{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:50px;
padding-bottom:10px;
}

#widget > .table{
max-width:1300px;
}

.margin_top{
margin-top:7%;
}

/*---vendor comparison---*/
.vc_heading_btm_space{
margin-bottom:10px;
}


.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
margin-bottom:5%;
}

.vc_box_img{
padding-left:5%;
}

.vc_col_vertical_space{
padding-left:15px !important;
}

.accordion .panel .panel-title .accordion-toggle{
padding:7px 15px !important;
}

.three_btn > .send_btn{
font-size:13px;
padding:6px 8px;
font-weight:bold;
}

.vc_form_btn{
padding-left:29%;
}

/*---vendor_tour_fares---*/
.vtf_heading_btm_space{
margin-bottom:10px;
}
.pink_text{
font-size:13px;
}

.checkbox-inline, .radio-inline{
padding-left:2px;
}

/*----user management----*/
.nav-pills > li > a{
font-size:15px;
font-weight:600;
padding:10px 5px;
height:40px;
}

.nav-pills > li+li{
margin-left:0px;
}


.nav-pills > li+li > a{
font-size:15px;
font-weight:600;
margin-left:0px !important;
height:40px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{
margin-left:0px;
}

.um_tab_bg{
margin-bottom:20px;
}

.um_tabcontent_heading > h4{
font-size:14px;

text-align:left;
padding-left:5%;
}

.radio_type{
padding:10px 5%;
}

.um_radio_btn_heading > h4{
font-size:14px;
font-weight:bold;
text-align:left;
padding-left:5%;
}

.um_radio_label{
font-size:13px !important;
font-weight:600 !important;
}
.um_admin_right_text{
height:auto;
}

.um_email_details{
padding-left:1%;
}

.um_user_emaildetails > h5{
font-size:13px;
text-align:left;
font-weight:bold;
height:12px;
}

.um_email_mdtextb{
width:100%;
float:none;;
margin-right:5px;
background-color:#f6f6f6;
height:30px;
margin-bottom:2%;
}

.um_email_note{
padding-top:2%;
padding-left:5%;
}

/*----configration setting----*/
.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}

.pagination_text{
padding-left:4px;
padding-right:4px;
}
.pagination_text > ul{
float:left;
}

/*----report management----*/
.rm_textbox{
font-size:13px;
padding-left:4px;
}

.rm_form_label{
font-size:13px;
text-align:left;
font-weight:bold;
}

.rm_input_md{
}

.run_report
{
margin-top:5%;
padding:6% 1% 6% 25%;
}

.run_report_btn{
padding:6px 12px;
font-size:13px;
font-weight:bold;
}

/*---invoice management---*/
.im_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

/*---google_map---*/
.gm_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

.form_label_md{
font-size:13px;
}


}


@media (max-width: 320px) {
/*---index login page---*/
.user-login-5 .login-container > .login-content{
margin-top:15%;
}

.login-content{
}

.login-content > img{
width:45%;
}

.remember_text_space{
padding-right:3px;
}

.user-login-5 .login-container > .login-content > .login-form .forgot-password{
margin-right:1% !important;
}

.btn{
font-size:13px;
padding: 4px 10px !important;
}

.sign_with{
text-align:center;
}

.column_space{
padding-left:30%;
}


.column_space > a > img{
width:60%;
margin-bottom:2%;
}

.column_space1{
padding-left:30%;
}

.column_space1 > a > img{
width:61%;
margin-bottom:2%;
}

.column_space2{
padding-left:30%;
}

.column_space2 > a > img{
width:65%;
margin-bottom:2%;

}

.login-footer{
margin-top:15% !important;
}

/*---locked page---*/
.page-logo > a > img{
	width:45% !important;
}

.page-lock-img{
width:35%;
}

/*----user profile----*/
.page-header.navbar .page-logo .logo-default{
width:60% !important;
}

.page-header.navbar .page-actions{
margin:10px 10px 15px 0px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu{
margin-right:-120px;
}

.page-head .page-title > h1{
font-size:17px;
padding-left:11px !important;
}

.page-container{
padding:5px 5px !important;
}

.page-content-wrapper .page-content{
padding:10px 5px 10px !important;
}

.portlet.light{
padding: 12px 10px 15px;
}


.column_vertical_space{
padding-left:5px !important;
padding-right:5px !important;
}


.padding_zero{
padding:12px 40px 15px !important;
}

.user_profile_img > h4{
font-size:17px;
text-align:center;
font-weight:bold;
margin-bottom:0px;
}

.designation{
font-size:13px;
text-align:center;
font-weight:bold;
margin-bottom:10%;
}

.important_dates_btn{
font-family:'Roboto', sans-serif;
font-size:14px;
font-weight:bold;
text-align:center;
padding:6px 7px;
}

.monthwisetrip_btn{
font-size:16px;
text-align:center;
font-weight:bold;
padding:12px 5px;
width:100%;
}

.person_expense_heading > h4{
font-size:16px;
text-align:center;
font-weight:bold;
margin:0px;
padding:0px;
}

.portlet.light>.portlet-title>.caption>.caption-subject{
font-size:15px;
}

.form_label{
font-size:13px;
font-weight:bold;
}

.form_value{
font-size:13px;
font-weight:400;
}

.table_heading{
font-size:13px;
color:#757575;
}

.table_text{
font-size:13px;
color:#9e9e9e;
}

.table thead tr th{
font-size:13px;
}

.table t tr td{
font-size:13px;
}
	

/*-----dashboard-----*/
.rounded_border{
border-radius:6px !important;
box-shadow:0px 0px 1px 1px #d9dcdf;
padding:3px !important;
}


.dp_margin_bottom{
margin-bottom:10px;
}

.dptext_margin_bottom{
margin-bottom:19px;
}	

.option_icon{
text-align:left;
padding-top:5px;
padding-left:10px;
}

.pagination > li > a{
font-size:11px;
padding:7px 10px;
}

.pagination_text > P{
margin-bottom:3px;
}

/*---user dashboard---*/
.ud_rupee{
font-size:17px;
font-weight:600;
}


.ud_per_exp_btspace{
margin-bottom:5%;
}

.ud_busexp_btspace{
margin-bottom:5%;
}

.ud_carousel_item_btmspace{
margin-bottom:30px;
}

.ud_location_icon{
margin-top:15px;
vertical-align:bottom;
margin-bottom:5px;
text-align:right;
float:left;
margin-right:6px;
}

.ud_location_action{
padding-top:5px;
text-align:right;
float:left;
margin-top:15px;
}

.ud_location_text  > h4{
color:#00bcd4;
font-family:'Roboto', sans-serif;
font-size:16px;
text-align:left;
text-transform:uppercase;
font-weight:600;
margin-top:0px;
margin-bottom:2px;
}





/*----hod dashboard----*/
.vd_green_text{
font-size:11px;
}

.hd_knob{
padding:2px 15px;
}

.hd_blue_text{
font-size:11px;
}

.hd_red_text{
font-size:11px;
}

/*---expenses report---*/
.er_column_space{
padding-left:2px;
padding-right:3px;
text-align:center;
}

.input_md{
width:100%;
padding-left:2px;
font-size:13px;
}

.expenses_report_heading > h3{
font-size:15px;
}


.date-picker{
float:left !important;
}


/*---print voucher---*/
.heading_column_space{
padding-left:3px;
padding-right:3px;
}

.form_label_pv{
font-size:13px;
font-weight:bold;
}

.form_value_pv{
font-size:13px;
font-weight:400;
}

.pv_emp_heading > h3{
font-size:15px;
}

.pv_column_right{
padding-left:0px;
margin-bottom:10px;
}

/*---monthwise_trip----*/
.mt_btn_bg{
margin-top:4px;
margin-bottom:5px;
}

.monthwisetrip_btn{
font-size:15px;
padding:11px 5px;	
}

.nav-tabs3 > li > a{
font-size:14px;
font-weight:bold;
text-align:center;
padding:5px;
}

.mt_textarea{
width:100%;
height:100px;
}

.mt_checkbox_label{
padding-left:0px !important;
font-size:13px;
font-weight:600;
}

/*---travel request---*/
.tr_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

.tr_column_vertical_space{
padding-left:16px !important;
padding-right:5px !important;
}

.add_new{
margin-bottom:0px;
}

.input-medium{
margin-bottom:10px !important;
}

.tr_heading{
font-size:13px !important;
}

.three_btn{
float:none;
}

.approve_btn{
padding:6px 10px;
font-size:12px;

}

.reject_btn{
font-size:12px;
padding:6px 10px;

}

.cancel_btn{
font-size:12px;
padding:6px 10px;

}

/*----HOD Approval----*/
.requisition_details_bg{
padding: 12px 10px 15px;
}

.employee_img{
padding-left:16%;
margin-bottom:3%;
}

.employee_img > img{
width:80%;
}


.column_border_bottom{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:50px;
padding-bottom:10px;
}


.form_label_hod{
font-size:13px;
font-weight:bold;
}

.form_value_hod{
font-size:13px;
font-weight:400;
}

.xs_col_btm_border{
border-bottom:1px solid #eeecec;
margin-bottom:10px;
height:50px;
padding-bottom:10px;
}

#widget > .table{
max-width:1300px;
}

.margin_top{
margin-top:7%;
}

.col_zero_space{
padding-left:3px;
padding-right:3px;
}

/*---vendor comparison---*/
.vc_heading_btm_space{
margin-bottom:10px;
}

.shadow_box{
background-color:#ffffff;
padding:2% 0% 0%;
box-shadow:0px 0px 2px 2px #e6e6e6;
margin-bottom:5%;
}

.vc_box_img{
padding-left:2%;
}

.vc_col_vertical_space{
padding-left:15px !important;
}

.accordion .panel .panel-title .accordion-toggle{
padding:7px 15px !important;
}

.three_btn > .send_btn{
font-size:13px;
padding:6px 8px;
font-weight:bold;
}

.vc_form_btn{
padding-left:25%;
}

/*---vendor_tour_fares---*/
.vtf_heading_btm_space{
margin-bottom:10px;
}

.pink_text{
font-size:12.4px;
}

.checkbox-inline, .radio-inline{
padding-left:2px;
}

/*----user management----*/
.nav-pills > li > a{
font-size:14px;
font-weight:600;
padding:10px 5px;
height:40px;
}

.nav-pills > li+li{
margin-left:0px;
}


.nav-pills > li+li > a{
font-size:14px;
font-weight:600;
margin-left:0px !important;
height:40px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{
margin-left:0px;
}

.um_tab_bg{
margin-bottom:20px;
}

.um_tabcontent_heading > h4{
font-size:14px;

text-align:left;
padding-left:5%;
}

.radio_type{
padding:10px 5%;
}


.um_radio_btn_heading > h4{
font-size:14px;
font-weight:bold;
text-align:left;
padding-left:5%;
}

.um_radio_label{
font-size:13px !important;
font-weight:600 !important;
}

.um_admin_right_text{
height:auto;
}


.um_email_details{
padding-left:1%;
}

.um_user_emaildetails > h5{
font-size:13px;
text-align:left;
font-weight:bold;
height:12px;
}

.um_email_mdtextb{
width:100%;
float:none;
margin-right:5px;
background-color:#f6f6f6;
height:30px;
margin-bottom:2%;
}

/*----configration setting----*/
.nav-tabs2 > li > a{
font-size:14px !important;
text-align:left !important;
font-weight:600 !important;
}

.pagination_text{
padding-left:4px;
padding-right:4px;
}
.pagination_text > ul{
float:left;
}

/*----report management----*/
.rm_textbox{
font-size:12px;
padding-left:4px;
}

.rm_form_label{
font-size:13px;
text-align:left;
font-weight:bold;
}

.rm_input_md{
}


.run_report
{
margin-top:5%;
padding:6% 1% 6% 20%;
}

.run_report_btn{
padding:6px 12px;
font-size:13px;
font-weight:bold;
}

/*---invoice management---*/
.im_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

/*---google map---*/
.gm_col_vertical_space{
padding-left:2px !important;
padding-right:15px !important;
}

.form_label_md{
font-size:13px;
}

}





