<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-8 bs-reset">
            <div class="login-bg" style="background-image:url(img/login/bg1.jpg)">
            </div>
            <!--end of login-bg-->
        </div>
        <!--end of col-md-8-->
        <div class="col-md-4 login-container bs-reset">
            <div class="login-content">
                <!-- <img src="img/login/logo.jpg" /> -->
                <h3>Admin Login</h3>
                <form name="login_form" class="login-form" rc-submit="login(credentials)" novalidate>
                    <div class="row">
                        <div class="col-xs-6" ng-class="{ 'has-error' : rc.login_form.needsAttention(login_form.contactNum)}">
                            <input aria-label="Username" class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="Username" name="contactNum" ng-model="credentials.contactNum" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.login_form.needsAttention(login_form.contactNum)">
                                    <div></div>
                                    <p>Username is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                        <div class="col-xs-6" ng-class="{ 'has-error' : rc.login_form.needsAttention(login_form.password)}">
                            <input aria-label="Password" class="form-control form-control-solid placeholder-no-fix" type="password" placeholder="Password" name="password" ng-model="credentials.password" ng-required="true" />
                            <div class="form-field">
                                <div class="error-box" ng-show="rc.login_form.needsAttention(login_form.password)">
                                    <div></div>
                                    <p>Password is required</p>
                                </div>
                            </div>
                        </div>
                        <!--end of col-xs-6-->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="rem-password">
                                Remember Me
                                <input type="checkbox" class="rem-checkbox" />
                            </div>
                            <!--end of rem-password-->
                        </div>
                        <!--end of col-sm-4-->
                        <div class="col-sm-8 ">
                            <div class="forgot-password">
                                <a ui-sref="app.forgot" id="forget-password" class="forget-password">Forgot Password?</a>
                            </div>
                            <!--end of forgot-passowrd-->
                            <button href="" class="btn blue btn_left" type="submit">
                                <i class="fa fa-spinner fa-pulse fa-lg fa-fw" ng-if="processing"></i>
                                <span class="sr-only" ng-if="processing">Loading...</span> Sign In
                            </button>
                            <button href="" ui-sref="app.sign-up" class="btn green" ng-if="!processing">Sign Up</button>
                        </div>
                        <!--end of col-sm-8-->
                    </div>
                    <!--end of row-->
                   
                    <!--end of row-->
                </form>
            </div>
            <!--end of login-content-->
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-3 bs-reset">

                    </div>
                    <!--end of col-xs-4-->
                    <div class="col-xs-9 bs-reset">
                        <div class="login-copyright text-right">
                            <p> SPA₹K Services | Copyright 2020 </p>
                        </div>
                        <!--end of login-copyright-->
                    </div>
                    <!--end of col-xs-8-->
                </div>
                <!--end of row-->
            </div>
            <!--end of login-footer-->
        </div>
        <!--end of col-md-8-->
    </div>
    <!--end of row-->

</div>
<!--end of user-login-5-->
<script src="js/login.min.js" type="text/javascript"></script>
