<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SPA₹K Business</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/jquery.uniform/dist/css/default.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/select2-bootstrap-css/select2-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" />
    <!--    <link rel="stylesheet" type="text/css" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />-->
    <link rel="stylesheet" type="text/css" href="bower_components/flickity/css/flickity.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/nvd3/build/nv.d3.min.css" />
  
    <!--page font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--end of page font-->
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="css/components.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="css/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="css/login/login.min.css" rel="stylesheet" type="text/css" />
    <link href="css/lock/lock.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="favicon.ico" />

    <!--extra css-->
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <!--end of extra css-->

    <script type="text/javascript" src="bower_components/modernizr/src/Modernizr.js"></script>

    <base href="/">

</head>

<body ng-controller="ApplicationCtrl" class="login">

    <!-- START PAGE CONTAINER -->
    <div class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo" ng-if="isLoggedIn && !$state.includes('app.locked')">
        <div ui-view="header"></div>
        <div class="clearfix"></div>
        <div class="page-container">
            <div ui-view="sidebar"></div>
            <div ui-view="container"></div>
            <!-- START OF PAGE-FOOTER-->
            <div class="page-footer" style="background-color:#ffffff;">
                <div class="page-footer-inner"> SPA₹K Services | Copyright 2020
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END OF PAGE-FOOTER-->
        </div>

    </div>

    <div ui-view="login" ng-if="!isLoggedIn || $state.includes('app.locked')"></div>
    <!-- END PAGE CONTAINER -->

    <!-- BEGIN CORE PLUGINS -->
    
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="bower_components/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="bower_components/jquery.uniform/src/js/jquery.uniform.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-validation/dist/additional-methods.min.js"></script>
    <script type="text/javascript" src="bower_components/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-backstretch/src/jquery.backstretch.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/moment-timezone/moment-timezone.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script type="text/javascript" src="bower_components/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="bower_components/alasql/dist/alasql.min.js"></script>
    <script type="text/javascript" src="bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
    <script type="text/javascript" src="bower_components/jspdf/dist/jspdf.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>

    <!-- angular -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>
    <script type="text/javascript" src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-clipboard/angular-clipboard.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.js"></script>
    
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>-->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-touch.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="bower_components/flickity/dist/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-flickity/dist/angular-flickity.min.js"></script>
    <link href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <!--  d3  -->
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.min.js"></script>
    <script type="text/javascript" src="bower_components/raphael/raphael.min.js"></script>
    <script type="text/javascript" src="bower_components/morris.js/morris.min.js"></script>
    <script type="text/javascript" src="bower_components/xepOnline.jqPlugin.js"></script>
    <script type="text/javascript" src="bower_components/angular-morris/build/module/angular-morris/angular-morris.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-knob/dist/ng-knob.min.js"></script>
    <!--    <script type="text/javascript" src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>-->
    <!--    <script type="text/javascript" src="bower_components/ng-repeat-owl-carousel/dist/ngRepeatOwlCarousel.min.js"></script>-->
    <!-- END CORE PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src='https://rawgit.com/ghostbar/angular-file-model/master/angular-file-model.js'></script>
    <script src="js/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->

    <script src="js/components-date-time-pickers.min.js" type="text/javascript"></script>
    <script src="js/layout.min.js" type="text/javascript"></script>
    <script src="js/demo.min.js" type="text/javascript"></script>
    <script src="js/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <!-- START ANGULARJS SCRIPTS -->
    <!-- app -->
    <script type="text/javascript" src="assets/app.js"></script>
    <!-- constants -->
    <script type="text/javascript" src="assets/constants/api.js"></script>
    <script type="text/javascript" src="assets/constants/auth-events.js"></script>
    <script type="text/javascript" src="assets/constants/ui-events.js"></script>
    <script type="text/javascript" src="assets/constants/user-roles.js"></script>
    <!-- services -->
    <script type="text/javascript" src="assets/services/session.js"></script>
    <script type="text/javascript" src="assets/services/auth-resolver.js"></script>
    <script type="text/javascript" src="assets/services/auth-interceptor.js"></script>
    <script type="text/javascript" src="assets/services/auth-attempt.js"></script>
    <script type="text/javascript" src="assets/services/auth.js"></script>
    <script type="text/javascript" src="assets/services/auth-signup.js"></script>
    <script type="text/javascript" src="assets/services/auth-forgot.js"></script>
    <script type="text/javascript" src="assets/services/get-user-dashboard.js"></script>
    <script type="text/javascript" src="assets/services/clients.js"></script>
    <script type="text/javascript" src="assets/services/get-vendor-dashboard.js"></script>
    <script type="text/javascript" src="assets/services/user-profile.js"></script>
    <script type="text/javascript" src="assets/services/users.js"></script>
    <script type="text/javascript" src="assets/services/trips.js"></script>
     <script type="text/javascript" src="assets/services/tickets.js"></script>
    <script type="text/javascript" src="assets/services/transactions.js"></script>
    <script type="text/javascript" src="assets/services/department.js"></script>
    <script type="text/javascript" src="assets/services/policy.js"></script>
    
    <script type="text/javascript" src="assets/services/vendor.js"></script>
     <script type="text/javascript" src="assets/services/department.js"></script>
     <script type="text/javascript" src="assets/services/notifications.js"></script>
     <script type="text/javascript" src="assets/services/plans.js"></script>
     <script type="text/javascript" src="assets/services/operators.js"></script>
     <script type="text/javascript" src="assets/services/subscription.js"></script>
     <script type="text/javascript" src="assets/services/offer.js"></script>
     <script type="text/javascript" src="assets/services/trends.js"></script>
    <script type="text/javascript" src="assets/services/banks.js"></script>
     <script type="text/javascript" src="assets/services/broadband.js"></script>
     <script type="text/javascript" src="assets/services/electricity.js"></script>
     <script type="text/javascript" src="assets/services/educationfees.js"></script>
     <script type="text/javascript" src="assets/services/fasttag.js"></script>
     <script type="text/javascript" src="assets/services/gas.js"></script>
     <script type="text/javascript" src="assets/services/healthinsurance.js"></script>
     <script type="text/javascript" src="assets/services/housingsociety.js"></script>
     <script type="text/javascript" src="assets/services/landlinepostpaid.js"></script>
     <script type="text/javascript" src="assets/services/lifeinsurance.js"></script>
     <script type="text/javascript" src="assets/services/loanrepayment.js"></script>
     <script type="text/javascript" src="assets/services/municipaltaxes.js"></script>
     <script type="text/javascript" src="assets/services/water.js"></script>
    <script type="text/javascript" src="assets/config.js"></script>
    <script type="text/javascript" src="assets/router.js"></script>
    <script type="text/javascript" src="assets/routes.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="assets/directives/rc-submit.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="assets/controllers/application/application.js"></script>
    <script type="text/javascript" src="assets/controllers/sidebar/sidebar.js"></script>
    <script type="text/javascript" src="assets/controllers/header/header.js"></script>
    <script type="text/javascript" src="assets/controllers/login/login.js"></script>
    <script type="text/javascript" src="assets/controllers/sign-up/sign-up.js"></script>
    <script type="text/javascript" src="assets/controllers/forgot/forgot.js"></script>
    <script type="text/javascript" src="assets/controllers/dashboard/dashboard.js"></script>
    
    <script type="text/javascript" src="assets/controllers/user-profile/user-profile.js"></script>
    <script type="text/javascript" src="assets/controllers/order/order.js"></script>
    <script type="text/javascript" src="assets/controllers/push-notifications/push-notifications.js"></script>
    
    
    
    <script type="text/javascript" src="assets/controllers/settings/settings.js"></script>
    
    <!-- END ANGULARJS SCRIPTS -->
    <!--[if lt IE 9]>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/ExplorerCanvas/excanvas.js"></script>
    <![endif]-->

</body>

</html>
