<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-8 bs-reset">
            <div class="login-bg" style="background-image:url(img/login/bg1.jpg)">
            </div>
            <!--end of login-bg-->
        </div>
        <!--end of col-md-8-->
        <div class="col-md-4 login-container bs-reset">
            <div class="login-content">
               
                <h3>Tripper Admin Login</h3>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form name="forget_form" class="login-form" rc-submit="submit(credentials)" novalidate>
                    <div class="forgot_pwd">
                        <h3 class="font-green">Forgot Password ?</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                    </div>
                    <!--end of forgot_pwd-->
                    <div class="col-xs-12" ng-class="{ 'has-error' : rc.forget_form.needsAttention(forget_form.contactNum)}">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Email Id" name="emailId" ng-model="credentials.emailId" ng-required="true" />
                        <div class="form-field">
                            <div class="error-box" ng-show="rc.forget_form.needsAttention(forget_form.emailId)">
                                <div></div>
                                <p>Email id is required</p>
                            </div>
                        </div>
                    </div>
                    <!--end of form-group-->
                    <div class="form-actions">
                        <button ui-sref="app.login" type="button" id="back-btn" class="btn grey btn-default">Back</button>
                        <button type="submit" class="btn blue btn-success uppercase pull-right">
                            <i class="fa fa-spinner fa-pulse fa-lg fa-fw" ng-if="processing"></i>
                            <span class="sr-only" ng-if="processing">Loading...</span> Submit
                        </button>
                    </div>
                    <!--end of form-actions-->
                </form>
                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <!--end of login-content-->
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-3 bs-reset">

                    </div>
                    <!--end of col-xs-4-->
                    <div class="col-xs-9 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; 2020 Tripper Services </p>
                        </div>
                        <!--end of login-copyright-->
                    </div>
                    <!--end of col-xs-8-->
                </div>
                <!--end of row-->
            </div>
            <!--end of login-footer-->
        </div>
        <!--end of col-md-8-->
    </div>
    <!--end of row-->

</div>
<!--end of user-login-5-->
<script src="js/login.min.js" type="text/javascript"></script>
