<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Push Notifications</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a ui-sref="app.dashboard" style="color:#ffffff">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span class="active">Push Notifications</span>
            </li>
        </ul>
        
        <section ng-if="!notify_tabs">
            <section class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a class="btn btn_hover_red" ng-click="notify_tabs_switch()"> Send Notification </a>
                </div>
            </section>
            <br>
            <div class="table-responsive">
                <table class="table row-border hover">
                    <thead>
                        <tr>
                            <th class="table_heading">Title</th>
                            <th class="table_heading_center">Description</th>
                            <th class="table_heading_center">Device</th>
                            <th class="table_heading_center">Date</th>
                            <th class="table_heading_center">Type</th>
                           
                        </tr>
                    </thead>
                    <tbody ng-if="users.length == 0">
                        <tr>
                            <td colspan="8">No Data Found</td>
                        </tr>
                    </tbody>
                    <tbody ng-repeat="(key,notification) in notifications | orderBy: '-createdTime'">
                        <tr ng-if="!processing">
                            <td class="table_text">{{notification.title}}</td>
                            <td class="table_text_center">{{notification.description}}</td>
                            <td class="table_text_center">{{notification.deviceKey}}</td>
                            <td class="table_text_center">{{notification.createdDate}} </td>
                            <td class="table_text_center">{{notification.selectOption}}</td>
                          
                            <!-- <td class="table_text_center">
                                <a href="#edituser" ng-click="employee_modal_populator(user)" class="edit" data-toggle="modal">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="processing"></i>
                <span class="sr-only" ng-if="processing">Loading...</span>
            </div>
            <!--end of table_responsive-->
        </section>

        <section ng-if="notify_tabs">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="notify_tabs_switch()"></button>
                    <h4 class="modal-title">Back</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:auto" data-always-visible="1" data-rail-visible1="1">
    
                        <div class="row row_border_bottom">
    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form_label_md col-md-4">Title</label>
                                    <div class="col-md-8 column_vertical_space">
                                        <input type="text" class="form-control" placeholder="Enter Title" ng-model="notificationinfo.title">
                                    </div>
                                    <!--end of col-md-8-->
                                </div>
                                <!--end of form-group-->
                            </div>
                            <!--end of col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form_label_md col-md-4">Description</label>
                                    <div class="col-md-8 column_vertical_space">
                                        <input type="text" class="form-control" placeholder="Enter Description" ng-model="notificationinfo.description">
                                    </div>
                                    <!--end of col-md-8-->
                                </div>
                                <!--end of form-group-->
                            </div>
                           
                            <!--end of col-md-6-->
    
                        </div>
                        <!--end of row-->
    
                        <div class="row row_border_bottom">
                           
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form_label_md col-md-4">Select an Option</label>
                                        <div class="col-md-8 column_vertical_space">
                                            <input type="radio" id="AllUser" name="selectOption" value="AllUser" ng-model="notificationinfo.selectOption"
                                            ng-click="setOption('AU')">
      
      <label>All User</label>
     
                                        </div>
                                        <!--end of col-md-8-->
                                        
                                    </div>
                                    <!--end of form-group-->
                                </div>
                                <!--end of col-md-6-->
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <div class="col-md-8 column_vertical_space">
                                            <input type="radio" id="ParticularUser" name="selectOption" value="Particular" ng-model="notificationinfo.selectOption"
                                            ng-click="setOption('PU')"> <label>Particular User</label>
                                        </div>
                                        <!--end of col-md-8-->
                                        
                                    </div>
                                    <!--end of form-group-->
                                </div>
                               
                               
                    
                            
                        </div>
                        <div class="row row_border_bottom" ng-if="particularSelected">
    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form_label_md col-md-4">Device Key</label>
                                    <div class="col-md-8 column_vertical_space">
                                        <input type="text" class="form-control" placeholder="Enter Device Key" ng-model="notificationinfo.deviceKey">
                                    </div>
                                    <!--end of col-md-8-->
                                </div>
                                <!--end of form-group-->
                            </div>
                            <!--end of col-md-4-->
                            
                           
                        
    
                        </div>
                        <!--end of row-->
    
                        
                        
                        
            
                    </div>
                    <!--end of scroller-->
                </div>
                <!--end of modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn send_btn" ng-click="sendNotification(notificationinfo)">
                        <i style="color:#DCDCDC" class="fa fa-spinner fa-pulse fa-lg fa-fw" ng-if="edit_user_processing"></i>
                        <span class="sr-only" ng-if="edit_user_processing">Loading...</span>
                        <span ng-if="!edit_user_processing">Send</span>
                    </button>
                    <button href="#" type="button" data-dismiss="modal" class="btn cancel_btn">Cancel</button>
                </div>
                <!--end of modal-footer-->
            </div>
        </section>
        
    </div>
</div>
